
body {
  background-color: #f1f1f1;
  font-family: Arial, sans-serif;
}

.container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin: 100px auto;
  max-width: 500px;
  padding: 30px;
  text-align: center;
}

h1 {
  color: #333;
  font-size: 40px;
  margin-bottom: 20px;
}

p {
  color: #666;
  font-size: 18px;
  margin-bottom: 30px;
}

